<h2><p>Lisätietoja:</p></h2>

<p>Haloset vuokrasivat aluksi Kivikosken myllyn pihapiirissä ollutta aittaa. Lähde: Heinänen 2011, 70.</p>

<p>Heinänen, Seija (2011). Matkoja maisemaan – Akseli Gallen-Kallela ja Pekka Halonen Keski-Suomessa. Teoksessa: Tunne maisema (toim. Pauline von Bonsdorff, Seija Heinänen ja Virpi Kaukio). Maahenki Oy. Helsinki.</p>

<h3><p>Kuva 15.</p></h3>

<p>Keski-Suomen kuva-arkisto K 1936:4. (ol 1982 Halosten aitta kuva 15). Kuvan tiedot: Pekka Halosen kesäpaikka Kuhmoisten Kotakoskella (toim. Huom. Kivikoskella). Kuvassa on kesäpaikan toinen kesäasunto, joka on tehty yhdistetystä talli-navetta-aitta -rakennuksesta, joka on rakennettu vuosina 1870–1879. Kesäpaikka oli alun perin torppa ja sittemmin paikalle tuli kauppa, kunnes vuonna 1924 Pekka Halonen lunasti paikan omakseen. Kuvassa olevassa kesäasunnossa on satulakatto ja avokuisti luonnonkivijalustalla. Kuhmoinen, Kotakoski (toim. huom. Kivikoski) Kuva: Olli Lampinen, 1982.</p>


