<h2><p>Lisätietoja:</p></h2>

<p>Kivikoski on Kivijärvestä Koekeskiseen laskeva koski, jonka välittömässä läheisyydessä sijaitsee vanha Kivikosken mylly pihapiirin rakennuksineen. Ko. rakennuksista osa toimi Pekka Halosen kesäpaikkana vuodesta 1916 lähtien. Kyseinen Kivikosken tila on yhä Halosen suvun omistuksessa. Halosen linkittyminen Kivikoskeen. Lähde: Halonen 1946, 67-82; Lindström 1957, 245–282; Lukkarinen 2008, 150–158; Heikkilä 2010, 13–14, 37–39; Heinänen 2011, 69–73.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=364184</p><br/>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=468232</p><br/>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1085593</p><br/>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1155752</p>

<p>Heinänen, Seija (2011). Matkoja maisemaan – Akseli Gallen-Kallela ja Pekka Halonen Keski-Suomessa. Teoksessa: Tunne maisema (toim. Pauline von Bonsdorff, Seija Heinänen ja Virpi Kaukio). Maahenki Oy. Helsinki. </p>

<h3><p>Muita lähteitä, jotka käsittelevät Kivikoskea:</p></h3>

<p>http://www.ymparisto.fi/default.asp?node=17846&lan=fi </p><br/>

<p>http://www.finnica.fi/keski-suomi/kuvataide/halonen.htm</p>

<p>Kuhmoisten srk:n arkistosta löytyy Erkki Halosen piirtämä kartta Kivikosken alueesta. Kuvallinen dokumentti kartasta löytyy teoksesta: Heikkilä 2010, 60.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1155752</p>

<p>Lentokuva Vallaksen ottamia kuvia Kivikosken alueesta. Kivikoski sijaitsee etualan Kivijärven ja kuvan keskiosassa sijaitsevan Koekeskisen välissä:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_05#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_07#1</p><br/>

<p>Lentokuva Vallaksen ottamia kuvia Kivikosken alueesta. Kivikoski sijaitsee etualan Koekeskisen ja kuvan keskiosassa sijaitsevan Kivijärven välissä:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_15#1</p><br/>

<p>Lisää Lentokuva Vallaksen kuvia Kivikosken alueesta:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_01#1</p>

<p>Latu Lumessa julkaisussa (Halonen 1965, 143.) on ilmakuva Kivikosken alueesta. Kuva lienee 1960-luvulta ja muodostuu vertailukohdaksi Vallaksen vuoden 2010 kuville. </p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=916794</p>

<h3><p>Video 1.</p></h3>

<p>Kivikoski 1. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Kivikoski 1 video 1.)</p>

<h3><p>Video 2.</p></h3>

<p>Kivikoski 2. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Kivikoski 2 video 2.)</p>

<h3><p>Video 3.</p></h3>

<p>Kivikoski 3. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Kivikoski 3 video 3.)</p>