<h2><p>Lisätietoja:</p></h2>

<p>Kivikoski saa alkunsa sen yläpuolella olevasta Kivijärvestä.</p>

<h3><p>Kuva 51.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivijarvi kuva 51). Kuvan tiedot: Kuvassa Kivikosken yläjuoksulta aukeava Kivijärvi.</p>

<p>Lentokuva Vallaksen ottama kuva Kivikosken alueesta Kivijärven suuntaan. Kivijärvi näkyy kuvan keskiosassa:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_10#1</p>

<p>Lentokuva Vallaksen ottama kuva Kivikosken alueesta Kivijärven suuntaan. Kivijärvi näkyy kuvan keskiosassa:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_11#1</p>
