<h2><p>Lisätietoja:</p></h2>

<p>Kivikoski laskee sen alapuolella olevaan Koekeskiseen, josta on käytetty myös nimitystä Ylä-Kotajärvi. </p>

<h3><p>Kuva 52.</p></h3>

<p>Keski-Suomen kuva-arkisto K 1936:5. (ol 1982 silta kuva 52). Kuvan tiedot: Maisemakuvassa on Pekka Halosen kesäpaikan läheisyydessä sijaitseva puusilta.Kuhmoinen, Kotakoski (toim. huom. Kivikoski). Kuva: Olli Lampinen, 1982. Kuvassa on Kivikosken alajuoksun ylittävä silta, jonka takana aukeaa Koekeskinen.</p>

<h3><p>Kuva 53.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 nakyma koekeskisen suuntaan kuva 53). Kuvan tiedot: Kuvassa näkymä myllyrannasta Koekeskisen suuntaan. Kivikosken alajuoksun ylittävä silta jää kaatuneen puun taakse. Kaatuneet puut ovat Asta-myrskyn (30.7.2010) seurausta.</p>

<h3><p>Kuva 54.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Koekeskinen kuvattuna Kotakosken suuntaan kuva 54). Kuvan tiedot: Kuvassa näkymä Koekeskiselle Kotakosken suuntaan. </p>

<p>Lentokuva Vallaksen ottama kuva Kivikosken alueesta Koekeskisen suuntaan. Koekeskinen näkyy kuvan keskiosassa:</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_05#1</p>
