<h2><p>Lisätietoja:</p></h2>

<p>Kivikosken ohella Halonen maalasi kesäpaikkansa läheisyydessä sijainneella Kotakoskella, joka laskee Koekeskisestä Kotajärveen. Lähde: Heinänen 2011, 70–72. </p>

<p>Heinänen, Seija (2011). Matkoja maisemaan – Akseli Gallen-Kallela ja Pekka Halonen Keski-Suomessa. Teoksessa: Tunne maisema (toim. Pauline von Bonsdorff, Seija Heinänen ja Virpi Kaukio). Maahenki Oy. Helsinki.</p>

<h3><p>Kivikoski:</p></h3>

<h3><p>Kuva 19.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoski kuva 19). Kuvan tiedot: Kuvassa Kivikoski.</p>

<h3><p>Kuva 20.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoski kuva 20). Kuvan tiedot: Kuvassa Kivikoski. Vasemmalla näkyy Asta-myrskyn (30.7.2010) tuhoja.</p>

<h3><p>Kuva 21.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoski kuva 21). Kuvan tiedot: Kuvassa Kivikoski. Vasemmalla näkyy sijaitsee Kivikosken myllyn pihapiiri rakennuksineen.</p>

<h3><p>Kuva 22.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken suvanto kuva 22). Kuvan tiedot: Kuvassa Kivikoski ja sen suvanto.</p>

<h3><p>Kuva 23.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoski koskenniska kuva 23). Kuvan tiedot: Kuvassa Kivikoski ja sen koskenniska kivineen Kivijärven suuntaan kuvattuna.</p>

<h3><p>Kuva 24.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoski koskenniska kuva 24). Kuvan tiedot: Kuvassa Kivikoski ja sen koskenniska kivineen Koekeskisen suuntaan kuvattuna.</p>

<h3><p>Kuva 25.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken alajuoksu kuva 25). Kuvan tiedot: Kuvassa Kivikosken alajuoksu ja sen takana avautuva Koekeskinen.</p>

<h3><p>Kuva 26.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken ylajuoksu kuva 26). Kuvan tiedot: Kuvassa Kivikosken yläjuoksu ja sen takana avautuva Kivijärvi.</p>

<h3><p>Kuva 27.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken ylajuoksu kuva 27). Kuvan tiedot: Kuvassa Kivikosken yläjuoksu Kivijärveltä päin kuvattuna. Oikealla sauna, jonka takana punainen myllärin talo.</p>

<h3><p>Kotakoski:</p></h3>

<h3><p>Kuva 28.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kotakosken yläjuoksu kuva 28). Kuvan tiedot: Kuvassa Kotakosken yläjuoksu Kotajärven suuntaan kuvattuna.</p>

<h3><p>Kuva 29.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kotakosken yläjuoksu kuva 29). Kuvan tiedot: Kuvassa Kotakosken yläjuoksu Koekeskisen ja Kivikosken suuntaan kuvattuna.</p>

<h3><p>Kuva 30.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kotakosken ylajuoksun ylittava silta kuva 30). Kuvan tiedot: Kuvassa Kotakosken yläjuoksun ylittävä silta Koekeskisen suuntaan kuvattuna. Halosen maalauksessa Syysmaisema Kuhmoisista (1928) on esitetty Lumminvuorelta Kotakoskelle päin avautuva näkymä, jossa esiintyy myös tällä paikalla oleva silta. Nykyinen silta on uudempi kuin Halosen maalauksessa esitetty, mutta sillan perustuksena olevat kivet voivat olla peräisin aikaisemmasta sillasta.</p>

<h3><p>Video 5.</p></h3>

<p>Kivikoski ja sauna. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Kivikoski ja sauna video 5.). Videossa näkyy Kivikosken koskenniska ja yläjuoksulla oleva saunarakennus.</p>