<h2><p>Lisätietoja:</p></h2>

<p>Halonen on maalannut Lumminvuorelta mm. teokset Kesämaisema Kotajärveltä (1916), Maisema Kuhmoisista (1916) ja Syysmaisema Kuhmoisista (1928). Lähde: Heinänen 2011, 70–72. </p>

<p>Heinänen, Seija (2011). Matkoja maisemaan – Akseli Gallen-Kallela ja Pekka Halonen Keski-Suomessa. Teoksessa: Tunne maisema (toim. Pauline von Bonsdorff, Seija Heinänen ja Virpi Kaukio). Maahenki Oy. Helsinki.</p>

<h3><p>Kuva 31.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Nakyma Lumminvuorelta kuva 31). Kuvan tiedot: Kuvassa on Lumminvuorelta Kotakoskelle päin avautuva näkymä. Kuva toimii vertailukohtana Halosen maalaukselle Kesämaisema Kotajärvelle (1916). Kuvassa esiintyvä järvi on Koekeskinen, mutta siitä on käytetty nimitystä Ylä-Kotajärvi. Tämä selittää Halosen maalauksen nimen.</p>

<h3><p>Kuva 32.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Nakyma Lumminvuorelta kuva 32). Kuvan tiedot: Kuvassa on Lumminvuorelta Kotakoskelle päin avautuva näkymä. Kuva toimii vertailukohtana Halosen maalaukselle Kesämaisema Kotajärvelle (1916). Kuvassa esiintyvä järvi on Koekeskinen, mutta siitä on käytetty nimitystä Ylä-Kotajärvi. Tämä selittää Halosen maalauksen nimen.</p>

<h3><p>Kuva 33.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Nakyma Lumminvuorelta kuva 33). Kuvan tiedot: Kuvassa on Lumminvuorelta Kivikoskelle päin avautuva näkymä. </p>

<h3><p>Kuva 34.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Nakyma Lumminvuorelta kuva 34). Kuvan tiedot: Kuvassa on Lumminvuorelta Kotakoskelle päin avautuva näkymä. Kuva toimii vertailukohtana Halosen maalaukselle Syysmaisema Kuhmoisista (1928). </p>

<h3><p>Kuva 35.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Nakyma Lumminvuorelta kuva 35). Kuvan tiedot: Kuvassa on Lumminvuorelta Kotakoskelle päin avautuva näkymä. Kuva toimii vertailukohtana Halosen maalaukselle Syysmaisema Kuhmoisista (1928). </p>

<h3><p>Kuva 36.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoskentien rakennuksia kuva 36). Kuvan tiedot: Kuvassa on Kivikoskentien varressa olevia rakennuksia, jotka sijaitsevat lähes samoilla paikoilla kuin Halosen Lumminvuorelta maalaamassa teoksessa Syysmaisema Kuhmoisista (1928).</p>

<h3><p>Kuva 37.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoskentien rakennuksia kuva 37). Kuvan tiedot: Kuvassa on Kotakosken suun ylittävä silta ja sen oikealla puolella sijaitseva punainen talo. Vasemmalla Koekeskisen rannassa kulkeva Kivikoskentie. Silta ja punainen talo sijaitsevat samoilla paikoilla kuin vastaavat elementit Halosen Lumminvuorelta maalaamassa teoksessa Syysmaisema Kuhmoisista (1928).</p>

<h3><p>Kuva 38.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikoskentien rakennuksia kuva 38). Kuvan tiedot: Kuvassa on Lumminvuori Kivikoskentieltä kuvattuna.</p>

<h3><p>Video 6.</p></h3>

<p>Lumminvuori 1. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Lumminvuori 1 video 6.). Videossa on Lumminvuorelta avautuva 360 asteen näkymä. Video toimii vertailukohtana Halosen maalaukselle Kesämaisema Kotajärvelle (1916).</p>

<h3><p>Video 7.</p></h3>

<p>Lumminvuori 2. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Lumminvuori 2 video 7.). Videossa on Lumminvuorelta avautuva 360 asteen näkymä. Video toimii vertailukohtana Halosen maalaukselle Syysmaisema Kuhmoisista (1928).</p>