<h2><p>Lisätietoja:</p></h2>

<p>Halosten kesäpaikan pihapiiriin kuuluivat Halosen torpan ja aitan ohella mylläri Antti Rajalan asunto, saha, mylly ja sauna. Lähde: Heikkilä 2010, 26–30.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1155752</p>

<h3><p>Kuva 16.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken pihapiiri kuva 16). Kuvan tiedot: Kivikosken pihapiiri kosken puolelta kuvattuna. Kosken vasemmalla partaalla sijaitsee Kivikosken mylly ja sen takana punainen myllärin talo. Kuvan vasemmassa reunassa sijaitsee Halosten torppa.</p>

<h3><p>Kuva 17.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken pihapiiri kuva 17). Kuvan tiedot: Kivikosken pihapiiri kosken puolelta kuvattuna. Kosken vasemmalla partaalla sijaitsee Kivikosken mylly ja sen takana punainen myllärin talo. Kuvan vasemmassa reunassa sijaitsee Halosten torppa.</p>

<h3><p>Kuva 18.</p></h3>

<p>Kesän dokumentaatiomatka 27.8.2010, kuvaaja Heikki Hanka (hh 27.8.2010 Kivikosken pihapiiri kuva 18). Kuvan tiedot: Kuvassa oikealla edessä Kivikosken mylly ja sen takana Kivikosken saha. Vasemmalla takana punainen myllärin talo.</p>

<p>Lentokuva Vallaksen ottamia kuvia Kivikosken alueesta. Alareunassa näkyy Halosen kesäpaikan pihapiiriä ja siihen kuuluvia rakennuksia.</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_16#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_20#1</p>

<p>Lentokuva Vallaksen ottama kuva Kivikosken alueesta. Keskellä näkyy Halosen kesäpaikan pihapiiriä ja siihen kuuluvia rakennuksia.</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10847_22#1</p>

<h3><p>Video 4.</p></h3>

<p>Kivikoski ja pihapiiri. Kesän 2010 dokumentaatiomatka, kuvaaja Antti Vallius (av 27.8.2010 Kivikoski ja pihapiiri video 4.) Videossa näkyy Kivikoski ja sen suvanto sekä Halosen kesäpaikan pihapiiriä. Rakennuksista videossa näkyy Halosten myllytorppa ja Kivikosken mylly. Kaatun eet puut ovat Asta-myrskyn (30.7.2010) aiheuttamia tuhoja.</p>
