Babel==0.9.6
Genshi==0.6
GnuPGInterface==0.3.2
Landscape-Client==11.07.1.1
Mako==0.4.1
MarkupSafe==0.12
MySQL-python==1.2.3
PAM==0.4.2
PIL==1.1.7
Pygments==1.4
Trac==0.12.3
Twisted-Core==11.0.0
apt-xapian-index==0.44
bsddb3==5.2.0
chardet==2.0.1
command-not-found==0.2.44
defer==1.0.2
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.16dev-r0
docutils==0.7
httplib2==0.7.2
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
lxml==2.3
mercurial==1.9.1
numpy==1.5.1
oauth==1.0.1
pexpect==2.3
psycopg2==2.4.2
pyOpenSSL==0.12
pycrypto==2.3
pycurl==7.19.0
pyserial==2.5
python-apt==0.8.0ubuntu9
python-debian==0.1.20ubuntu2
python-xmp-toolkit==1.0.2
pytz==2010b
pyxdg==0.19
simplejson==2.1.6
smart==1.4
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
virtualenv==1.7
virtualenvwrapper==3.0
wadllib==1.2.0
wsgi-intercept==0.4
wsgiref==0.1.2
zope.interface==3.6.1
