<html>
<head>
  <style>
    h1 {font-family:Arial,Helvetica,sans-serif}
    td {vertical-align:top}
    ul {margin:0; padding:0 18px}
    li {list-style-type: square}
    a {color:#EE0000}
    body {visibility:hidden}
    .print {visibility:visible}
  </style>
</head>
<body>

<div class="print" style="width:800px; padding:0 40px 20px 36px">
  <img src="http://a199.myrootshell.com:8080/tallsmall/production/static/img/etreg/etlogo_0.jpg">
</div>

<div class="print" style="width:800px; padding:0 40px; background-color:#FFFFFF; font-family:Arial,Helvetica,sans-serif">
  <h1>Online Registration</h1>

  <table style="width:800px" border=0>
  <tr>
    <td colspan="2">
      <strong>Gender:</strong> Mr.<br/>
      <strong>First name:</strong> Mika (Testi)<br/>
      <strong>Last name:</strong> Nyman<br/>
      <strong>Address:</strong> Pukkilantie 2<br/>
      <strong>Postcode:</strong> 00650<br/>
      <strong>City:</strong> Helsinki<br/>
      <strong>Country:</strong> Finland<br/>
    </td>
    <td colspan="2">
      <strong>Date of birth (yyyy-mm-dd):</strong> Dec. 19, 1955<br/>
      <strong>Height:</strong> 183<br/>
      <strong>Member of a Tall Club:</strong> Yes<br/>

      <strong>Which Tall Club are you registered with?:</strong> PIKRY<br/>
      <strong>Membership number:</strong> 0000000000<br/>
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>

    <td colspan="4">
      <strong>Email:</strong> mika.nyman@synapse-computing.com<br/>
      <strong>Mobile phone number with country code:</strong> +358-00000000<br/>
      <strong>Home phone number with country code:</strong> +358-00000000<br/>

      <strong>Fax number with country code:</strong> +358-00000000<br/>
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <td colspan="4">
      <strong>Language for welcome packets and guided tours:</strong>
      Finnish
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <td colspan="4">
      <strong>
      Arrival to Tampere:
      </strong> March 13, 2012 <strong>Time:</strong> 04:00<br/>
      <strong>
      Departure from Tampere:
      </strong> March 22, 2012 <strong>Time:</strong> 15:00
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <td colspan="4">
      <strong>In which hotel/hostel you are staying?:</strong>
      Ei tiedossa
      <br/>
      <strong>Check-in date (yyyy-mm-dd):</strong> March 8, 2012<br/>
      <strong>Check-out date (yyyy-mm-dd):</strong> March 21, 2012<br/>
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <td colspan="4">
      <strong>Young & Tall:</strong> Yes<br/>
      <strong>Are you travelling with your parents?:</strong>
      No<br/>
      <strong>Parents name:</strong> NN<br>
      <strong>Parents mobile phone number:</strong> +358-00000000<br/>
      <strong>Guardians name:</strong> NN<br/>
      <strong>Guardians mobile phone number:</strong> <br/>
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <td colspan="4">
      <strong>Vegetarian:</strong> Yes 
      <strong>Gluten-free:</strong> Yes 
      <strong>Diabetic:</strong> Yes 
      <strong>Low lactose:</strong> Yes
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  <tr>
    <!-- ---------- r 1:11 ---------- -->
    <td colspan="4">
      <strong>Do you need any personal assistance (if available) during the events?:</strong> Yes<br/>
      <strong>Please specify:</strong> no<br/>
      <strong>Other special needs or health risk factors the Organisation team should know?:</strong> Yes<br/>
      <strong>Please specify:</strong> no<br/>
    </td>
  </tr>
  <tr><td colspan="4" style="height:20px"></td></tr>
  </table>
</div>

<div style="page-break-after:always"></div>

<div class="print" style="width:800px; padding:40px; background-color:#FFFFFF; font-family:Arial,Helvetica,sans-serif">
  <h1>Program Choices</h1>
  <table>
  <tr>
    <td><ul><li>Arrival in Tampere &ndash; Welcome and Info packets:</strong></li></ul></td>
    <td style="width:200px; text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>Viking Evening and 1st Big Welcome Evening:</strong></li></ul></td>
    <td style="text-align:left">27,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Choose your wish for setting time*:</strong></li></ul></td>
    <td style="text-align:left">
    </td>
  </tr>
  <tr>
    <td><ul><li>Trip to the town of Nokia & Tampere sightseeing tour by bus:</strong></li></ul></td>
    <td style="text-align:left">27,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Young&Tall &ndash; guided sightseeing tours in Tampere and a lot of fun:</strong></li></ul></td>
    <td style="text-align:left">27,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>2nd Big Welcome Evening with infotainment, professional shows and live music:</strong></li></ul></td>
    <td style="text-align:left">53,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Public meeting of the representatives of the European Council/Board:</strong></li></ul></td>
    <td style="text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>A possibility also for lunch exists, at additional cost:</strong></li></ul></td>
    <td style="text-align:left">8,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Young&Tall &ndash; trip to the Särkänniemi Adventure park. Approx. 35 euro/person*:</strong></li></ul></td>
    <td style="text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>Boat trip on Lake Pyhäjärvi & an outdoor evening on Viikinsaari Island.:</strong></li></ul></td>
    <td style="text-align:left">40,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Full day trip to the capital of Finland, and&#133; (check one below):</strong></li></ul></td>
    <td style="text-align:left">68,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Boat trip to Suomenlinna incl. a historical video presentation. (Max 240 guests):</strong></li></ul></td>
    <td style="text-align:left">17,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>OR free time in Helsinki (approx. 4 hrs):</strong></li></ul></td>
    <td style="text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>The biggest summer celebration in Finland called &quot;Juhannus&quot;. A long day in the beautiful, authentic countryside atmosphere.:</strong></li></ul></td>
    <td style="text-align:left">55,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Pispala & Pyynikki &ndash; The Pearls of Tampere. Guided walking & bus tour to the most essential part of the Finnish daily life and sauna traditions. Feel the heat&#133;:</strong></li></ul></td>
    <td style="text-align:left">37,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Optional Sauna at hotel Scandic Rosendahl / Cumulus Hämeenpuisto:</strong></li></ul></td>
    <td style="text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>Dancing and Entertainment in Scandic Rosendahl until the morning&#133;:</strong></li></ul></td>
    <td style="text-align:left">70,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Sunday June 17th &ndash; Kiitos ja näkemiin! &ndash; Thank you and goodbye!:</strong></li></ul></td>
    <td style="text-align:left">Yes</td>
  </tr>
  <tr>
    <td><ul><li>Additional yearly fee for the voluntary work on the European level:</strong></li></ul></td>
    <td style="text-align:left">8,00 &euro;</td>
  </tr>
  <tr>
    <td><ul><li>Additional fee for Non-Tall Club members:</strong></li></ul></td>
    <td style="text-align:left">20,00 &euro;</td>
  </tr>
  </table>
</div>
</body>
</html>
