<h2>Kivikauden eläinpääesineet</h2>

<p>Suomen kivikautisia eläinpääesineitä esitteleviä sivustoja:</p>

<p><i>Elävä kivikausi</i>-sivusto. <a target="_blank" href="https://extras.csc.fi/arctinet/kivikaus/m6/6_2_15.htm">Eläinpääveistokset</a></p>

<p>Huittisten kunnan sivut. <a target="_blank" href="http://www.huittinen.fi/Default.aspx?id=518">Huittisten hirvenpää</a></p>

<p>Museoviraston sivusto. <a target="_blank" href="http://www.nba.fi/fi/skm_opetus_esihist_kivik14">Kivikauden taide ja uskomukset</a></p>

<p><i>Suomen esihistorian esineistö / Kivikausi</i> - sivusto.  <a target="_blank" href="http://www.helsinki.fi/hum/arla/esineisto_kivikausi/taide/elainpaaaseet/frameset_elainpaaaseet.htm">Eläipääaseet</a></p>

