

<h1>Kalliopiirrokset</h1>

<p><b>Kalliopiirrokset ovat kiveen tai kallioon hakattuja, uurrettuja, kaiverrettuja tai raaputettuja kuvia.</b></p>

<br />


<p>Wikipedian tieto <a target="_blank" href="http://fi.wikipedia.org/wiki/Kalliopiirros">kalliopiirroksista</a></p>

<br />

<p><em>Elävä kivikausi</em> -sivuston tiedot Suomen lähialueiden kalliopiirroksista. Sivustolla paljon tietoa Suomen kivikaudesta, sen kulttuureista ja elinkeinoista. <a target="_blank" href="https://extras.csc.fi/arctinet/kivikaus/m6/6_2_9.htm">Kalliopiirrokset</a></p>

<br />

<p>Keijo Nevanrannan blogiteksti Pohjois-Norjan <a target="_blank" href="http://nevaranta.blogspot.com/2011/05/kallioon-tatuoidut-kuvat-ihmisen-alue.html">kalliopiirroksista</a></p>

