
<h1>Muinaisjäännökset ja muinaisjäännösalue</h1>

<p>Muinaisjäännökset ovat maassa tai vedessä säilyneitä muistoja menneistä sukupolvista sekä näiden elämästä ja toiminnasta. Jotkut muinaisjäännökset, kuten hautaröykkiöt, kalliomaalaukset, uhrikivet ja linnavuoret, erottuvat maisemasta vielä nykyäänkin. Toiset muinaisjäännökset sijaitsevat kokonaan tai lähes kokonaan maan peitossa, kuten esim. asuin- ja työpaikat ja maahan kaivetut haudat. Kiinteiden muinaisjäännösten ympärillä sijaitsee muinaisjäännösalue.</p>
<p>Museoviraston esittely muinaisjäännöksistä: <a target="_blank" href="http://www.nba.fi/fi/muinaisjaannos">Muinaisjäännökset</a></p>

<br />

<h3>Selitys sanalle "muinaisjäännös":</h3>
<p>Tieto sivustolta: <em>Maan povesta - Suomen arkeologiaa</em>.
<a target="_blank" href="http://yle.fi/arkeologia/index.php?sanasto">Muinaisjäännös</a></p>

<br />

<h3>Muinaisjäännösalue:</h3>
<p>Muinaisjäännösalue on lailla määritelty ja lain suojaama alue, joka sisältää kiinteän muinaisjäännöksen.
<a target="_blank" href="http://www.pirkanmaa.fi/suomi/maakaava/maisjakult/suositus/sm.htm">Muinaisjäännösalue</a></p>
