

<h1>Saraavesi</h1>

<h3>Maanmittauslaitoksen Paikkatietoikkunan kartta Saraavedestä:</h3>

<a target="_blank" href="http://www.paikkatietoikkuna.fi/web/fi/kartta?zoomLevel=7&coord=447059.922_6921886.04&mapLayers=184_185_186_187_188_189_190_191_192_193_194+100+!default!&showMarker=true&forceCache=true">Saraaveden alueen kartta</a>

<br />
<br />

<h3>Keski-Suomen ympäristökeskuksen sivujen tieto Saraaveden alueeseen liittyvistä suojelumäärittelyistä:</h3>

<a target="_blank" href="http://www.ymparisto.fi/default.asp?contentid=26786&">Vatianjärven-Saraaveden alue</a>

<br />
<br />

<h3>Saraaveden nimi ja sen historiaa:</h3>

<p>Saraavedestä on nykyään varsinaisesti käytössä kaksi eri nimimuotoa. Virallinen mm. maanmittauslaitoksen käytössä oleva nimimuoto on Saraavesi. Joissain lähteissä paikkaa kutsutaan myös Saravedeksi. Paikalliset käyttävät usein jälkimmäistä sanamuotoa ja niin Saraaveden kuin Saraakallion nimen oikeasta muodosta on ollut erimielisyyksiä julkisten tahojen ja paikallisten välillä.</p>

<ul>
<li>Virallinen nimi: Saraavesi</li>

<li>Vaihtoehtoinen nimi: Saravesi, Saarivesi, Sarajavesi, Saranavesi</li>
</ul>

Lähde: mm. Wikipedian sivu <a target="_blank" href="http://fi.wikipedia.org/wiki/Kuusa">Kuusa</a>
<br />
<br />

<h3>Kalastus Saraavedellä:</h3>

<p>Tietoa alastuslupien hankinnasta, järven kalaistutuksista, vedenlaadusta, perustiedot järvestä ym.
<a target="_blank" href="http://www.kalapaikka.net/saraavesi_jarvi_kalastus_luvat_kalaistutukset_ravustus_vesilinnun_metsastys_vedenlaatu_lomamokit_laukaa___51786.asp">Kalapaikka</a></p>


<p>Kalapedian tiedot Saraavedestä.
<a target="_blank" href="http://www.kalapedia.fi/index.php?title=Saraavesi">Kalapedia</a></p>
<br />


<h3>Saraakallion alueen vesireitit:</h3>

<p>Saraakallion edessä yhtyvät kaakosta tulevan Rautalammin reitin ja pohjoisesta tulevan Viitasaaren ja Saarijärven reittien vedet.</p>


<h4>Keiteeleen kanava</h4>

<p>Saaraavesi liittyy Keiteleen kanavan vesireittiverkostoon. Reitin eri järvet ja kanavat on mainittu alla olevassa osoitteessa.
<a target="_blank" href="http://fi.wikipedia.org/wiki/Keiteleen_kanava">Keiteleen kanava</a></p>


