
<h2>Saraakallio I:n ääriviivahirvet</h2>

<p>Maalaus sijaitsee Tasanteen Punaisella seinämällä. Kuvassa näkyy kaksi alueen suurista ääriviivahirvistä, joihin Saraakallion Hirvikin kuuluu. Kuvan hirvistä oikeaan katsovasta on jäljellä vain pää ja vasenpaan katsovasta vain vartalo. Oikeaan katsovan pään yläpuolella on kaarimainen hirvieläin.</p>

<div class="kuvateksti"><img src="akj_06102011_km_saraakallio1_maalaukset_59.jpg" class="img1" />
<p>Kuva: Karoliina Järvinen, 2011</p></div>

<p> Maalauksesta pari metriä vasempaan on Kivikkään nimeämä ns. Pörröhäntä, Saraakallion kolmas selkeästi erottuva suuri ääriviivahirvi. Tämänkin hahmon pää on näkymättömissä. Hirviläimen sisällä voi havaita kaksi pientä koukkupolvista kädet kohottanutta ihmishahmoa. Kuva on otettu sateisella kelillä, joten maalaukset näkyvät poikkeuksellisen hyvin. Kuvan punaväriä on tämän lisäksi vielä vahvistettu.</p>

<div class="kuvateksti"><img src="akj_06102011_km_saraakallio1_maalaukset_39.jpg" class="img1" />
<p>Kuva: Karoliina Järvinen, 2011</p></div>
