<br />

<h2>Saraakallion I:n veneseinämä</h2>

<p>Kuvassa näkyy Veneseinämä, joka sijaitsee Tasanteen sekä Maljan alueen välimaastossa aivan Tasanteen vasemassa reunassa. Seinämässä voi nähdä lukuisia venemäisiä kaariaiheita. Osa kaarista on näkymättömissä valokuvan kuvauskulman sekä edessä kasvavan pienen puun vuoksi. Kaariaiheista vasempaan yläviistoon sijaitsee vuonna 2011 löydetty uusi suurikokoinen antropomorfi eli ihmishahmo. Kuvassa saattaa nähdä myös suuren vinoristin parhaiten näkyvän kaariaiheen alapuolella.</p>

<div class="kuvateksti"><img src="akj_06102011_km_saraakallio1_maalaukset_15.jpg" class="img1" />

<p>Kuva: Karoliina Järvinen, 2011</p></div>


