<h2><p>Lisätietoja:</p></h2>

<h3><p>Internet-linkit Akseli Gallen-Kallelasta:</p></h3>

<p>http://www.kansallisbiografia.fi/kb/artikkeli/3194/</p><br/>

<p>http://fi.wikipedia.org/wiki/Akseli_Gallen-Kallela</p><br/>

<p>http://www.gallen-kallela.fi/akseli/</p><br/>

<p>http://kokoelmat.fng.fi/wandora/w?lang=fi&action=gen&si=Gallen-Kallela%2C+Akseli</p><br/>

<h3><p>Akseli Gallen-Kallelaa käsittelevä kirjallisuus:</p></h3>

<p>http://kirjava.fng.fi/bibliografia/bibliografiat.php?path=&query=Akseli+Gallen-Kallela</p>

<h3><p>Kuvat Akseli Gallen-Kallelasta:</p></h3>

<p>https://www.kuvakokoelmat.fi/pictures/quicksearch?hakusana=akseli+gallen-kallela</p>
