<h2><p>Lisätietoja:</p></h2>

<p>Pohjoismaalaiset taiteilijat muodostivat 1880-luvulla Pariisissa taiteilijayhteisön, johon myös Axel Gallén kuului. Yhteisöön lukeutui muun muassa seuraavat henkilöt:</p>

<h3><p>Emil Wikström</p></h3>

<p>Lähde: Okkonen 1961, 54, 105.</p>  
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Emil_Wikstr%C3%B6m</p><br/>

<p>http://www.visavuori.com/emil.html</p>

<h3><p>Eero Järnefelt</p></h3>

<p>Lähde: Okkonen 1961, 143.</p> 
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Eero_J%C3%A4rnefelt</p>

<h3><p>August Strindberg</p></h3>

<p>Lähde: Okkonen 1961, 105.</p> 
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/August_Strindberg</p>

<h3><p>Carl Adam Dörnberger</p></h3>

<p>Lähde: Okkonen 1961, 105–106.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p>

<h3><p>Ernst Josephson</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Ernst_Josephson</p>

<h3><p>Anders Zorn</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Anders_Zorn</p><br/>

<p>http://www.anderszorn.org/</p>

<h3><p>Hans Jaeger</p></h3>

<p>Lähde: Okkonen 1961, 143, 150.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://en.wikipedia.org/wiki/Hans_J%C3%A6ger’</p>

<h3><p>Björnstjerne Björnson</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Bj%C3%B8rnstjerne_Bj%C3%B8rnson</p>

<h3><p>Jonas Lie</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Jonas_Lie</p>

<h3><p>Edvard Munch</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Edvard_Munch</p><br/>

<p>http://en.wikipedia.org/wiki/Edvard_Munch</p><br/>

<p>http://www.edvard-munch.com/gallery/index.htm</p>

<h3><p>Frits Thaulow</p></h3>

<p>Lähde: Okkonen 1961, 105.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://en.wikipedia.org/wiki/Frits_Thaulow</p>
