<h2><p>Lisätietoja:</p></h2>

<p>Gallénin taiteen esikuvina voidaan mainita muun muassa Paul Jacques Baudry, Jules Bastien-Lepage ja Gustave Courbet.</p>

<h3><p>Paul Jacques Baudry</p></h3>

<p>Lähde: Okkonen 1961, 92.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://en.wikipedia.org/wiki/Paul-Jacques-Aim%C3%A9_Baudry</p>

<h3><p>Jules Bastien-Lepage</p></h3>

<p>Lähde: Okkonen 1961, 92.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://en.wikipedia.org/wiki/Jules_Bastien-Lepage</p>

<h3><p>Gustave Courbet</p></h3>

<p>Lähde: Okkonen 1961, 93.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=203313</p><br/>

<p>http://fi.wikipedia.org/wiki/Gustave_Courbet</p>

