<h2><p>Lisätietoja:</p></h2>

<p>Ritva Saukkomaa yritti saada Kullervon kiven virallisen suojelun piiriin, mutta kohteen ei katsottu täyttävän suojelupäätökseen vaadittavia ehtoja.</p>

<h3><p>Kuva 19.</p></h3>

<p>Syksyn 2010 dokumentaatiomatka, 10.9.2010, kuvaaja Heikki Hanka (hh 10.9.2010 lausunto kiven suojelusta huhkojarvi kuva 19.). Kuvan tiedot: Ritva Saukkomaan omistama dokumentti, josta käy ilmi, ettei ns. Kullervon kivi täytä suojelupäätökseen vaadittavia ehtoja.</p>

<h3><p>Kuva 20.</p></h3>

<p>Syksyn 2010 dokumentaatiomatka, 10.9.2010, kuvaaja Heikki Hanka (hh 10.9.2010 lausunto kiven suojelusta huhkojarvi kuva 20.). Kuvan tiedot: Ritva Saukkomaan omistama dokumentti, josta käy ilmi lausunnonantajat.</p>
