<h2><p>Lisätietoja:</p></h2>
 
<p>Axel Gallén (noin vuodesta 1907 Akseli Gallen-Kallela) toimi Sjöströmin ja muiden Ateneumista eronneiden taideopiskelijoiden perustaman Mannerheimin taideluokan opettajana (Lähde. Hanka 1990, 14-17). Gallén oli yksi merkittävimmistä Wilho Sjöströmin taiteellisista esikuvista (Lähde: Elmgren-Heinonen 1943, 18-19; Hanka 1990, 16-18).</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=317418</p><br/>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=433106</p><br/>

<h3><p>Axel Gallén Internetlinkit:</p></h3>

<p>http://www.kansallisbiografia.fi/kb/artikkeli/3194/</p><br/>

<p>http://fi.wikipedia.org/wiki/Akseli_Gallen-Kallela</p><br/>

<p>http://www.gallen-kallela.fi/akseli/</p><br/>

<h3><p>Kirjallisuutta Axel Gallénista:</p></h3>

<p>http://kirjava.fng.fi/bibliografia/bibliografiat.php?path=AQXnSyboAAAAAA%3D%3D&res=AQTB2Ln3AAAAIg%3D%3D&history=AQTB2Ln3AAAAIg%3D%3D&cat=AQXnT%2FL%2FAAAAAA%3D%3D</p>

<p>A. Gallen-Kallelan muisto. Toim. O. Okkonen, A. Sailo, A. O. Väisänen. Porvoo. WSOY 1932. Kirjassa Wilho Sjöströmin kirjoittama teksti: Mestarin oppilaana s. 76-78 </p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=588980</p>
