<h2><p>Lisätietoja:</p></h2>

<p>K. V. Hanellin isä Matti Hanell (1821 – 1900) oli pitäjän räätäli, kylän vanhin/kyläkokouksen puheenjohtaja (ålderman), kirkonisännöitsijä, Suomen bibliaseuran jäsen ja pitäjänkirjuri. Lähde: Seppä 1990, 1. (Anja Seppä: Tietoja Hanellin uistintehtaasta ja K. V. Hanellista. Moniste, Keski-Suomen museo 1992/125).
K. V. Hanellin ensimmäinen vaimo oli Gustava Andelin (1849 – 1880) ja toinen vaimo Alice Elisabeth Marklund (1858 – 1939), jonka kanssa poika Voltter Hanell (1894 – 1976)Voltter Hanell toimi Kymönkosken myllyn myllärinä. Lähde: Kananen 2002, 59-60 (Sivulla 59 on myös kuva Voltter Hanellista). Voltter Hanellin lapset: Eino (1915 – 1977), Maire (s. 1920), Arvo (s. 1927), Paavo (s. 1931). Lähde: Seppä 1990, 1. (Anja Seppä: Tietoja Hanellin uistintehtaasta ja K. V. Hanellista. Moniste, Keski-Suomen museo 1992/125). 
Suullisen tiedonannon mukaan Wilho Sjöström opetti K. V. Hanellia maalaustaiteessa (Anni Hanellin haastattelu 19.8.2010). Kuriositeettina voidaan mainita, että Hanelleilla on K. V. Hanellin pojanpojan Arvo Hanellin maalaama kopio Wilho Sjöströmin maalauksesta ”Sahankoski”. Kopiossa on teksti: ”Setä Kaarlo Hanellin muistoksi 1902 W. Sjöströmiltä”. Alkuperäisteoksen omistaa Iiris Hanell (Espoo).  Historiankirjoituksissa mainitaan, että K. V. Hanell valtuutettiin hankkimaan Ylä-Keitele -laiva vuonna 1906 perustetulle Wiitasaaren Höyrylaiva Osake Yhtiölle. Lähde: Viitasaaren historia 2008, 174. Lisäksi K. V. Hanellin nimi esiintyy luettelossa: Torppariosastojen perustaminen ja muuttuminen työväenyhdistyksiksi. Lähde: Viitasaaren historia 2008, 400.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1108268</p>

<h3><p>Kuva 8.</p></h3>

<p>Kesän 2010 dokumentaatiomatka 19.8.2010, kuvaaja Heikki Hanka. (hh19.8.2010 kymonkoski kuva 8.) Kuvan tiedot: Arvo Hanellin tekemä maalaus Sjöströmin "Sahankoski" teoksesta.</p>

<h3><p>Kuva 9.</p></h3>

<p>Kesän 2010 dokumentaatiomatka 19.8.2010, kuvaaja Heikki Hanka. (hh19.8.2010 kymonkoski kuva 9.) Kuvan tiedot: Arvo Hanellin tekemä maalaus Sjöströmin "Sahankoski" teoksesta.</p>

<h3><p>Kuva 10.</p></h3>

<p>Kesän 2010 dokumentaatiomatka 19.8.2010, kuvaaja Heikki Hanka. (hh19.8.2010 kymonkoski kuva 10.) Kuvan tiedot: Arvo Hanellin tekemä maalaus Sjöströmin "Sahankoski" teoksesta.</p>

<h3><p>Kuva 11.</p></h3>

<p>Keski-Suomen museon kuva-arkisto (K 833:19).(n1910 kv hanell kuva 11.) Kuvan tiedot: Kaarlo Voldemar Hanell (1847–1916) ja hänen toinen vaimonsa Alice Elisabeth os. Marklund (1858–1939), Viitasaari, kuvausaika-arvio 1910.</p>




