<h2><p>Lisätietoja:</p></h2>

<h2><p>Paikannimi:</p></h2>

<p>Kymönkoskesta on käytetty myös nimeä Kyminkoski. Suomettaressa (22.07.1853   Suometar no 29) on maininta, että koski olisi saanut nimensä sen varteen ensimmäisenä muuttaneen Simo Kimi -nimisen henkilön mukaan. Kimistä nimi muuttui Kyminkoskeksi. Kirjoittaja lienee Eero Salmelainen (Erik Rudbeck 1830-1867) http://fi.wikipedia.org/wiki/Eero_Salmelainen. Salmelaisen jäljille johtaa kirjoituksen allekirjoitus E. S – n. sekä arkistoidussa lehtileikkeessä oleva lyijykynämerkintä Rudbeck. Suomettaressa oleva teksti on Matkamuistelmia kirjoituksen luku Pihtipudas ja Wiitasaari.</p>

<p>http://digi.lib.helsinki.fi/sanomalehti/secure/showPage.html?conversationId=2&action=entryPage&id=424350&pageFrame_currPage=2</p>

<h2><p>Kymönkoski aiheista kirjallisuutta:</p></h2>

<p>Mauri Kananen: Kymönkosken kohinoita Viitasaaren kaupungista (2002)</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=891293</p>

<p>Silén, Saija & Andersson, Nina: Viiden kosken kuljettamaa – Viitasaaren kulttuuriympäristöohjelma. Kymönkoski s. 62-65. Keski-Suomen ympäristökeskus, Jyväskylä 2007.</p> 
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1082496</p>
<p>Kymönkoskea käsittelevä osio:</p>
<p>http://www.ymparisto.fi/download.asp?contentid=100753&lan=fi</p>

<p>Viitasaaren historia – Savutuvista tietoyhteiskuntaan. Kirjoittajat: Manninen, Ari t., Mäkelä, Petteri, Holm, Vesa. Otava, Keuruu 2008. Kymönkoskesta sivuilla:15, 19, 32, 33, 38, 39, 46, 48, 69, 70, 74, 75, 80, 85, 86, 92, 102, 103, 111-114, 119, 122, 123, 126, 138, 139, 147, 154, 165, 167, 171, 174, 177, 184, 185, 201, 252, 285-288, 294, 295, 297, 303-306, 308, 314, 319, 334, 375, 377, 389, 400, 406, 414, 416, 459, 466, 472, 485, 487, 491, 493.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1108268</p>

<p>Keski-Suomen historia 1. Toim. Jokipii, Mauno. Gummerus, Jyväskylä 1999</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=804831</p>

<h2><p>Kymönkosken kartografiset esitykset: </p></h2>

<p>http://maps.google.fi/maps?hl=fi&tab=wl  (kartta vuodelta 2010)</p><br/>
<p>http://www.paikkatietoikkuna.fi/web/fi/kartta# (kartta vuodelta 2010)</p><br/>
<p>http://kansalaisen.karttapaikka.fi/kartanhaku/osoitehaku.html?e=447018&n=6998417&scale=8000&tool=siirra&styles=normal&lang=fi&isShown=true&tool=siirra&lang=fi&map.x=348&map.y=297</p><br/>

<p>Jyväskylän yliopiston Heikki Rantatupa historialliset kartat -portaali. Täältä löytyy esim. Viitasaaren pitäjänkartta vuodelta 1840, jossa näkyy Kymönjoen alue:</p> 

<p>http://www.vanhakartta.fi/historialliset-kartat/@@mapview?handle=hdl_123456789_23996</p><br/>

<p>https://jyx.jyu.fi/dspace/bitstream/handle/123456789/23996/3311%2009.jpg</p><br/>

<h2><p>Paikan sijainti ja asukkaat:</p></h2>

<p>Kymönkosken sijainnista ja sen asukkaista on kirjoitettu: Viitasaaren historia 2008, 15, 19, 32-33, 38-39, 48; Kananen 2002, 5-9; Keski-Suomen historia 1, 1999, 200-202.</p>

<h2><p>Kymönkosken maisema:</p></h2>

<p>Kymönkosken maisemaelementtien kartoitus ja maiseman historiaa: Silén, Saija & Andersson, Nina: Viiden kosken kuljettamaa 2007, 62.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1082496</p>

Kuvamateriaalia Kymönkoskesta:

<p>Lisätietoja: Kuvan etualalla kosken rannalla sijaitsee Koskelan tila (Hanellien talo). Kuvassa oikealla Muuttolan lohen kalankasvatusaltaat ja taaempana keskellä Muuttolan tila. Koskelan tilaa vastapäätä kosken toisella puolella sijaitsee Koskenkallion/Myllylän tila. Koskelan ja Koskenkallion/Myllylän tilojen vasemmalta puolelta kulkee Vesannontie, joka ylittää Kymönkosken (kuvaaja Hannu Vallas).</p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_18#</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_15#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_11#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_01#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_07#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_08#1</p><br/>

<p>Lisätietoja: Kymönkosken koskiympäristö on suojeltu koskiensuojelulaissa ja se kuuluu osittain myös Natura-alueiden piiriin (Kirjallinen dokumentti: Silén, Saija & Andersson, Nina: Viiden kosken kuljettamaa 2007, 62). Dokumentissa mainitaan myös Kymönkosken kunnostushanke:</p>
<p>http://www.environment.fi/default.asp?contentid=312379&lan=fi</p>

<p>Kymönkoski kuuluu Kolima-Keitele koskireittiin:</p>

<p>http://www.ymparisto.fi/default.asp?contentid=16196&lan=fi</p>

<p>Historiallista sanomalehtiaineistoa Koliman ja Keiteleen välisistä koskista ja niiden kehittämisestä:</p>

<p>http://digi.lib.helsinki.fi/sanomalehti/secure/showPage.html?conversationId=13&action=entryPage&id=604446&pageFrame_currPage=2</p>
