<h2><p>Lisätietoja:</p></h2>

<p>Koskelan tilan vanha sauna on purettu, mutta uudempi sijaitsee lähes samalla paikalla. Muutama metri nykyisen saunan takana löytyy villiviini, joka kasvoi vanhan saunan seinustalla. Lähde: Seppä 1990, 8. (Anja Seppä: Tietoja Hanellin uistintehtaasta ja K. V. Hanellista. Moniste, Keski-Suomen museo 1992/125).</p> 

<h3><p>Kuva 25.</p></h3>

<p>Kesän 2010 dokumentaatiomatka, 19.8.2010, kuvaaja Heikki Hanka (hh 19.8.2010 kymonkoski sauna kuva 25.) Kuvan tiedot: rantasauna (uusi) ja oletettu Sjöströmin Pilvinen päivä -teoksen maalauspaikka. Vuonna 1902 sauna oli muutamia metrejä nykyistä taaempana.</p>

<h3><p>Kuva 26.</p></h3>

<p>Kesän 2010 dokumentaatiomatka, 19.8.2010, kuvaaja Heikki Hanka (hh 19.8. 2010 kymonkoski sauna kuva 26.) Kuvan tiedot: Rantasauna (uusi) ja oletettu Sjöströmin Pilvinen päivä -teoksen maalauspaikka.</p>

<h3><p>Kuva 27.</p></h3>

<p>Kesän 2010 dokumentaatiomatka, 19.8.2010, kuvaaja Heikki Hanka (hh 19.8.2010 kymonkoski villiviini kuva 27.) Kymönkoski 041. Vanhan saunan sijaintipaikalle nousee edelleen kesäisin saunan seinustalla kasvanut villiviini.</p> 

<h3><p>Video 1.</p></h3>

<p>360 asteen videoklippi Sjöströmin Pilvinen päivä -teoksen maalauspaikasta. Kesän 2010 dokumentaatiomatka, 19.8.2010, kuvaaja Antti Vallius (av 19.8.2010 kymonkoski video 1.)</p>
