<h2><p>Lisätietoja:</p></h2>

<h3><p>Kuva 38.</p></h3>

<p> (huom. sama kuva kuin kuva 2.) Keski-Suomen kuva-arkisto K 26:458 (gas n 1910 kymonkoskenmylly kuva 38.) Kuvan tiedot: Kymönkoski, Viitasaari. Sillan vasemmalla puolella oli Otto Laitisen kauppa. Oikealla puolella Kymönkosken mylly. Takana mäellä on Muuttola, jonka pihan läpi mäkeä alas kulki tie Luotolaan, Kymijärven rantaan. Luotola oli ent. Kymönkosken sotilasvirkatalon torppa. Kruununtorppa, joka itsenäistyi Adolf Gustaf Hämäläisen aikana 1900-luvun alussa. Kuvausaika n. 1910, viimeistään 1915. Kuva: G. A. Stoore.</p>

<h3><p>Kuva 39.</p></h3>

<p>(Huom. sama kuva kuin kuva 4.)Keski-Suomen kuva-arkisto K 1800:11. (1909 kymonkoskenmylly ja silta kuva 39.) Kuvan tiedot: Kymönkosken kylä, Kymönkoski, Viitasaari. Kymönkoski eli Kyminkoski, jonka yli vie nelikaarinen puusilta. Taka-alalla näkyy patorakennelmia. Vasemmalla kaksikerroksisessa rakennuksessa on saha ja mylly. Etualalla näkyy tukkeja, oikealla sillan kiviperusteet. Kuvausaika 1909.</p>

<h3><p>Kuva 40.</p></h3>

<p>(Huom. sama kuva kuin kuva 5.) Kesän 2010 dokumentaatiomatka, 19.8.2010, kuvaaja Heikki Hanka (hh19.8.2010 kymonkosken silta kuva 40.). Kuva tiedot: Kymönkosken ylittävä silta Koskelan tilan puolelta kuvattuna. Kuvassa sillan oikealla puolella sijaitsi Kymönkosken mylly.</p>

<p>Ilmakuvia Kymönkosken alueesta, kuvaaja Hannu Vallas. Lisätietoja: Kuvan etualalla kosken rannalla sijaitsee Koskelan tila (Hanellien talo). Kuvassa oikealla Muuttolan lohen kalankasvatusaltaat ja taaempana keskellä Muuttolan tila. Koskelan tilaa vastapäätä kosken toisella puolella sijaitsee Koskenkallion/Myllylän tila. Koskelan ja Koskenkallion/Myllylän tilojen vasemmalta puolelta kulkee Vesannontie, joka ylittää Kymönkosken. </p>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_11#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_01#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_07#1</p><br/>

<p>http://suomi.ilmasta.fi/kuvaus.php?kuva_id=10768_08#1</p><br/>
