<h2><p>Lisätietoja:</p></h2>

<p>Sjöströmin linkitys Viitasaareen: Elmgren-Heinonen 1943, 38-42.</p>
<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=433106</p>

<p>Viitasaaren luonnonmaiseman muodostuminen: Silén, Saija & Andersson, Nina: Viiden kosken kuljettamaa 2007, 3-5.</p>

<p>https://jykdok.linneanet.fi/cgi-bin/Pwebrecon.cgi?BBID=1082496</p>

<p>Edellä esitetty julkaisu löytyy Internetistä osoitteista:</p>

<p>http://www.environment.fi/download.asp?contentid=100707&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100708&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100709&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100710&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100711&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=119707&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100712&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100737&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100741&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100753&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100754&lan=fi</p><br/>

<p>http://www.environment.fi/download.asp?contentid=100755&lan=fi</p><br/>

<p>Viitasaariseuran sivuilla on tietoa paikkakunnasta:</p>

<p>http://www.viitasaari.1g.fi/</p>

<p>Viitasaaren kylät portaali:</p>

<p>http://www.viisaankivi.fi/fi/etusivu/?id=70</p>
