{% load i18n %}
<div id="thumbs" class="navigation">
    
  <div class="top pagination">
  <span class="current">1</span>
  <a title="2" href="#16" rel="history">2</a>
  <a title="Next ›" href="#16" rel="history">Next ›</a>
  </div>
  
  <ul class="thumbs noscript">
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_53/akj_06102011_km_saraakallio1_maalaukset_53.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_53/akj_06102011_km_saraakallio1_maalaukset_53_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_53/akj_06102011_km_saraakallio1_maalaukset_53_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_92/akj_06102011_km_saraakallio1_maalaukset_92.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_92/akj_06102011_km_saraakallio1_maalaukset_92_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_92/akj_06102011_km_saraakallio1_maalaukset_92_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_94/akj_06102011_km_saraakallio1_maalaukset_94.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_94/akj_06102011_km_saraakallio1_maalaukset_94_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_94/akj_06102011_km_saraakallio1_maalaukset_94_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_96/akj_06102011_km_saraakallio1_maalaukset_96.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_96/akj_06102011_km_saraakallio1_maalaukset_96_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_96/akj_06102011_km_saraakallio1_maalaukset_96_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_98/akj_14042011_km_saraakallio1_paikka_lahimaisema_98.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_98/akj_14042011_km_saraakallio1_paikka_lahimaisema_98_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio1_98/akj_14042011_km_saraakallio1_paikka_lahimaisema_98_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
    <li>
      <a class="thumb" name="leaf" href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio2_3/akj_06102011_km_saraakallio2_maalaukset_3.jpg" title="{% trans 'Caption' %} #0">
      <img src="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio2_3/akj_06102011_km_saraakallio2_maalaukset_3_s.jpg" alt="{% trans 'Caption' %} #0" /></a>
      <div class="caption">
        <div class="download"><a href="http://a199.myrootshell.com:8080/maisemapaikka/staging/media/photologue/photos/kkm_demo/muinaistaide/sarakallio2_3/akj_06102011_km_saraakallio2_maalaukset_3_b.jpg">{% trans "Download Original" %}</a></div>
        <div class="image-title">{% trans "Caption" %} #0</div>
        <div class="image-desc">{% trans "Metadata" %}</div>
      </div>
    </li>
    
  </ul>
</div>